{% extends "/main/layoutMain.twig" %}

{% block style %}
    <link href="css/main/index.css" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>Senati News | Donde se escucha tu voz</title>
{% endblock %}

{% block content %}

    <body>
    <!-- SELECT * FROM usuarios ORDER BY id DESC LIMIT 10;
    -->
    <!-- Begin Nav
    ================================================== -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <!-- Begin Logo -->
            <a class="navbar-brand" href="/">
                <img src="/img/logoOscuro.png" alt="logo">
            </a>
            <!-- End Logo -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <!-- Begin Menu -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Descubrir<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create">Expresar</a>
                    </li>
                    <li class="nav-item">
                    <a class='nav-link' href='/user?id={{idUser}}'>Mi cuenta</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href='/logout'>Cerrar Sesión</a>
                    </li>
                </ul>

                <!-- End Menu -->
            </div>
        </div>
    </nav>
    <!-- End Nav
    ================================================== -->

    <!-- Begin Site Title
    ================================================== -->
    <div class="container">
        <div class="mainheading">
            <h1 class="sitetitle">Bienvenid@ {{ user }}</h1>
            <p class="lead">
                Desliza para ponerte al día con las ultimas noticias, o crea una.
            </p>

        </div>
        <!-- End Site Title
        ================================================== -->

        <!-- Begin Featured
        ================================================== -->
        <section class="featured-posts">
            <div class="section-title">
                <h2><span>Comunidad | Ultimas noticias</span></h2>
            </div>
            <div class="card-columns listfeaturedtag">
                {% for new in news%}
                    <!-- begin post -->
                    <div class="card">
                        <div class="row">
                            <div class="col-md-5 wrapthumbnail">
                                <a href="/new?id={{new.idNoticia}}">
                                    <div class="thumbnail" style="background-image:url( {{ new.thumbail ?: "img/gradientes/#{random(1, 10)}.jpg" }} );">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-block">
                                    <h2 class="card-title"><a href="/new?id={{new.idNoticia}}">{{new.titulo}}</a></h2>
                                    <h4 class="card-text">{{new.resumen}}</h4>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="/user?id={{new.idUsuario}}"><img class="author-thumb" src="{{new.image}}" alt="{{new.autor}}"></a>
								</span>
                                            <span class="author-meta">
								<span class="post-name"><a href="/user?id={{new.idUsuario}}">{{new.autor}}</a></span><br/>
								<span class="post-date">{{new.created_at}}</span><span class="dot"></span><span class="post-read">{{new.categoria}}</span>
								</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post -->
                {% endfor %}

            </div>
        </section>
        <!-- End Featured
        ================================================== -->
        <div class="section-title">
            <h2><span>Twiter</span></h2>
        </div>
        <!-- Begin List Posts
        ================================================== -->
        <div class="container margtop3rem">
            <a id="twiter" class="twitter-timeline" data-dnt="true" data-theme="light" href="https://twitter.com/Renzo03257679/lists/1455586920231276544?ref_src=twsrc%5Etfw"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <!-- End List Posts
        ================================================== -->

        <!-- Begin Footer
        ================================================== -->
        <div class="footer">
            <p class="pull-left">
                Copyright &copy; 2021 Senati News
            </p>
            <div class="clearfix">
            </div>
        </div>
        <!-- End Footer
        ================================================== -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    </body>
{% endblock %}

{% block script%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="js/dark.js"></script>
{% endblock %}

